body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f5f5f5;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    max-width: 200px;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Estilos del contenido */
  .contenido {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: #777;
  }

  .catalogo {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  width: 300px;
  margin: 10px;
}

.item img {
  width: 100%;
  height: auto;
}

.item .texto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.icono {
  position: absolute;
  top: 10px;
  right: 300px;
  width: 30px; /* Ajusta el tamaño del icono según tus necesidades */
  height: 30px;
}


.button {
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espacio interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 5px; /* Margen exterior */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
}

.button:hover {
  background-color: #45a049; /* Cambiar color de fondo al pasar por encima */
}